<div class="item-container">
  <div class="del" (click)="deleteHandle()"><fa-icon [icon]="faTrash"></fa-icon></div>
  <img [src]="item.gallery[0]" alt="image">
  <div class="name"> <h1>{{ item.name | uppercase }}</h1> <h3>{{item.cuisine | uppercase}}</h3> </div>
  <div class="price"><h1> ${{ item.price }} </h1></div>
  <div class="buttons">
    <button (click)="plus()"> +  </button>
    <button> -  </button>
    <div class="col">
      <div> Ordered: <span>0</span> </div>
      <div> In Stock: <span>{{ item.quantity }}</span> </div>
    </div>
  </div>
</div>
