:host {
  grid-column: span 3;
  width: 100%;
  height: 100%;
}

.item-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  box-shadow: var(--shadow4);
  border-radius: 45px;
}

.del {
  visibility: hidden;
  position: absolute;
  color: var(--bg);
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--danger);
  border-radius: 45px;
}
.del:hover{
  cursor: pointer;
}

.item-container:hover .del{
    visibility: visible;
}


img {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  border-radius: 45px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column  nowrap;
  padding: 2rem 0;
  background: var(--card-color);
  width: 100%;
  height: 20%;
  border-radius: 0 0 45px 45px;
  box-shadow: var(--shadow4);
}

.name > .h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: var(--minor-text-color)
}
.name > .h3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: var(--minor-text-color);
}

.price {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 0 0 45px 45px;
  box-shadow: var(--shadow4);
}

.buttons {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 0 0 45px 45px;
}

.buttons > button {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--minor-text-color);
  font-size: 2rem;
  color: var(--primary);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 1rem;
  font-family: var(--fontfamily);
  cursor: pointer;
  transition: .5s;
}

.buttons > button:hover {
  background: var(--primary) ;
  color: var(--minor-text-color);
}
.buttons > button:disabled:hover,
.buttons > button:disabled {
  background: var(--danger);
  color: var(--primary);
}


.col {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: var(--fontfamily);
}
