:host{
  width: 100vw;
  height: 10vh;
  color: var(--secondary);
  background: var(--primary);
  box-shadow: var(--shadow1);
  z-index: 1;
}
.menu-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.toggler{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}
.hamburger{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}
.hamburger>div{
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 1.5px;
  background: var(--primary);
  transition: 0.5s;

}

.hamburger>div:before, .hamburger>div:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background: var(--primary);
  transition: 0.5s;
}

.hamburger>div:before{
  top: -10px;
}
.hamburger>div:after{
  top: 10px;
}

.toggler:checked + .hamburger>div{
  transform: rotate(135deg);
}

.toggler:checked:hover + .hamburger>div{
  transform: rotate(225deg);
}

.toggler:checked + .hamburger>div::after,.toggler:checked + .hamburger>div::before{

  transform: rotate(90deg);
  top: 0;
}

.toggler:checked ~ .menu{
  visibility: visible;
}

.toggler:checked ~ .menu > div{
  transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu > div > div{
  opacity: 1;
}
.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: 0.5s;
}

.menu>div{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translateX(-150%) translateY(-50%);
  background-color: var(--secondary);
  opacity: .8;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > div >div{
  max-width: 90vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.menu > div >div > ul > li{
  list-style: none;
}

.menu > div >div > ul > li > a{
  text-decoration: none;
  margin: .5rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary);
  transition: .3s;

}

.menu > div >div > ul > li > a:hover{
  color: var(--primary);

}

nav{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  box-shadow: var(--shadow1);
}
.logo{
  grid-column: span 4;
  height: 90%;
  display: flex ; align-items: center; justify-content: center; flex-flow: row wrap;
}
ul{
  grid-column: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
li{
  height: 90%;
  padding: 1rem;
  text-decoration: none;
  list-style: none;
  display: flex ; align-items: center; justify-content: center; flex-flow: row wrap;
  color: var(--secondary);
  border-bottom: .25rem solid var(--primary);
  transition: .5s;
}
a{
  position: relative;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex ; align-items: center; justify-content: center; flex-flow: row wrap;
  color: inherit;
}
a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: .25rem;
  bottom: -1rem;
  left: 0;
  background-color: var(--secondary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login {
  justify-self: flex-end;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  border: none;
  cursor: pointer;
}

.login > a {
  height: 2rem !important;
}

.login > a::before,
.login > a:hover::before,
.login > a:hover::after,
.login > a::after {
  display: none !important;
}


.infopanel {
  outline: var(--secondary) 2px solid;
  outline-offset: -10px;
  position: fixed;
  top: 10vh;
  right: 0;
  background: var(--primary);
  width: 300px;
  /*height: 35vh;*/
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  box-shadow: var(--shadow4);
  border-radius: 0 0 0 5px;
  z-index: 99999999;
  /*transform: translateY(100%);*/
  /*transition: transform .5s ease-in-out;*/
}
.infopanel > div:first-of-type{
  margin-top: 1rem;
}
.infopanel > .element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  font-size: 1.4rem;
}

.infopanel > .info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  border: 2px solid var(--secondary);
  padding-left: 0;
  margin-block: 1rem;
  padding-block: 1rem;
}

.infopanel > .element > * {
  margin-inline: 1rem;
}

.selectable { margin-block: .5rem; }
.selectable:hover {
  filter: brightness(-55%);
  cursor: pointer;
}

@media (max-width: 699px){
  .big{
    display: none;
  }
  ul{
    display: flex;
    flex-direction: column;
  }
  .login{
    position: inherit;
    height: 90%;
    padding: 1rem;
    text-decoration: none;
    list-style: none;
    display: flex ; align-items: center; justify-content: center; flex-flow: row wrap;
    color: var(--secondary);
    border-bottom: .25rem solid var(--primary);
    transition: .5s;
  }

}

@media  (min-width: 700px){
  .menu-container{
    display: none;
  }

}
