

  <div class="card">
    <div class="column">
      <img src="https://media.istockphoto.com/photos/two-empty-wine-glasses-sitting-in-a-restaurant-on-a-warm-sunny-picture-id1018141890?k=20&m=1018141890&s=612x612&w=0&h=uMDP00MMIhlwQE77EEcoelc2oSKBT_B6avaXqtxgiow=" alt="img">
    </div>
     <div class="column info">
       <h1> RESTAURANT </h1>
       <div class="adress">
         ul. Wiejska 5
       </div>
       <div class="address">
         32-005, Niepołomice
       </div>
      <div class="pnumber">
        <fa-icon [icon]="faPhone"></fa-icon> 111 111 111
      </div>
      <div class="email">
        <fa-icon [icon]="faEmail"></fa-icon> cieslikiewic@student.agh.edu.pl
      </div>
    </div>
  </div>

  <div class="card">
    <div class="column info">
      <h1> About Us </h1>
      <div class="desc">
       We are the oldedst and most experienced at making kebab and pierogies in whole Poland
      </div>
      <div class="invite">
        Come and see for yourself !!!
      </div>
    </div>
    <div class="column">
      <img src="https://www.thebalancesmb.com/thmb/kectf9d4azgI8yVnBuoB0h2Z8zA=/3865x2174/smart/filters:no_upscale()/overhead-view-of-smiling-female-friends-sharing-lunch-in-restaurant-928010348-5b4abe8f46e0fb003712c478.jpg" alt="img">
    </div>
  </div>

  <div class="card">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.9899582074668!2d20.210861815938365!3d50.01154342677295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716389e9b1defa3%3A0x34224796c81aecd2!2sWiejska%205%2C%2032-005%20Stani%C4%85tki!5e0!3m2!1sen!2spl!4v1641669694266!5m2!1sen!2spl"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>


