<h1 class="title"> Users </h1>
<div class="grid">

  <div class="row">
    <div class="cell header-cell"> LP         </div>
    <div class="cell header-cell"> Name       </div>
    <div class="cell header-cell"> Lastname   </div>
    <div class="cell header-cell"> Email      </div>
    <div class="cell header-cell"> Status      </div>
    <div class="cell header-cell"> Ban / Unban      </div>
  </div>

  <div class="row" *ngFor="let user of users; let i = index">
    <div class="cell">    <strong>{{ i }}</strong>    </div>
    <div class="cell"> {{ user.name }}                </div>
    <div class="cell"> {{ user.lastname }}            </div>
    <div class="cell"> {{ user.email }}               </div>
    <div class="cell" [ngStyle]="{'color': user.banned? 'red':'var(--secondary)'}"> {{ user.banned }}      </div>
    <div class="cell" *ngIf="!user.banned" (click)="toggleBan()"> <button> Ban </button>      </div>
    <div class="cell" *ngIf="user.banned" (click)="toggleBan()"> <button> Unban </button>    </div>
  </div>

</div>
