button {
  color:var(--primary);
  font-size: 1rem;
  padding: 1.25rem 4rem;
  background: var(--secondary);
  border-radius: 45px;
  border: none;
  transition: .5s;
  cursor: pointer;
}


button:hover {
  background: var(--primary);
  color: var(--secondary);
  box-shadow: var(--shadow4);
}
