:host{
  grid-column: span 3;
  height: 90%;
  box-shadow: var(--shadow1);
  padding: .5rem;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
input {
  width: 90%;
  border: none;
  border-bottom: var(--secondary) 2px solid;
  color: var(--secondary);
  background: none;
  padding: .5rem 2rem;
  font-size: 1.2rem;
  outline: none;
  margin-block: .75rem;
}
label {
  color: var(--secondary);
}
.categories,
.cuisines{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.categories > h1,
.cuisines > h1{
  color: var(--secondary);
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  background: var(--primary);
  border-radius: 45px;
}

.categories > button,
.cuisines > button {
  color:var(--primary);
  font-size: 1rem;
  padding: 1.25rem 4rem;
  background: var(--secondary);
  border-radius: 45px;
  border: none;
  transition: .5s;
  cursor: pointer;
}

.categories > button:hover,
.cuisines > button:hover {
  background: var(--primary);
  color: var(--secondary);
  box-shadow: var(--shadow4);
}

.selectedCategories,
.selectedCuisines {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(3, 1fr);
}

.selectedCategories > div,
.selectedCuisines > div {
  grid-column: span 1;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75rem 1rem;
  border-radius: 45px;
  color: var(--secondary);
  box-shadow: var(--shadow1);
}


.categoriesForm,
.cuisinesForm{
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: var(--primary);
  backdrop-filter: blur(25px) opacity(.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  box-shadow: var(--shadow4);
  z-index: 999999;
}

.categoriesForm div,
.cuisinesForm div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--secondary);
  font-size: 1.6rem;
  font-weight: 900;
}

.categoriesForm >h1,
.cuisinesForm >h1 {
  color: var(--secondary);
}

.categoriesForm div > input,
.cuisinesForm div > input{
  margin-inline: 2rem;
  accent-color: var(--secondary);
  background: none;
  border: 2px solid  var(--secondary);
  width: 50px;
}

.categoriesForm button,
.cuisinesForm button{
  color:var(--primary);
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  background: var(--secondary);
  border-radius: 45px;
  border: none;
  transition: .5s;
  cursor: pointer;
}


input[type="range"] {
  padding: 0;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--secondary);
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}
