:root {
  --primary: #f2edd7ff;
  /*--secondary: #755139ff;*/
  --secondary: #313131;
  --bg: #eaeaea;
  --fontfamily: Arial, sans-serif;
  --shadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shadow3: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  --shadow4: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  --card-color: rgba(243, 243, 243, 0.5);
  --minor-text-color: #313131;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  font-family: sans-serif;
  background: #d4f6f0;
}

app-root {
  width: 100%;
  height: 100%;
  display: grid;
  /*background: green;*/
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  font-family: sans-serif;
}


